flask==2.2.5
werkzeug==2.2.3
opencv-python>=4.8.0
numpy>=1.26.0
ultralytics>=8.0.0
flask-cors==3.0.10
flask-socketio==5.3.6
python-socketio==5.10.0
python-engineio==4.8.0
simple-websocket==1.0.0
tqdm>=4.65.0
kaggle>=1.5.12
Flask-SQLAlchemy==3.0.0
SQLAlchemy==1.4.41
PyMySQL>=1.0.0 